version: "3.0"
services:
  schools:
    image: cameron-mw/ak-schools-and-communities:latest
    build:
      dockerfile: Dockerfile
      context: .
    container_name: schools
    command: "python SchoolsMap.py"
    restart: unless-stopped
    ports:
      - "8050:8050"
    environment:
      - PROD=true
      - DASH_URL_BASE_PATHNAME=${SCHOOLS_BASE_URL}
      - MAPBOX_ACCESS_TOKEN

  communities:
    image: cameron-mw/ak-schools-and-communities:latest
    depends_on:
      - schools
    container_name: communities
    command: "python CommunitiesMap.py"
    restart: unless-stopped
    ports:
      - "8051:8050"
    environment:
      - PROD=true
      - DASH_URL_BASE_PATHNAME=${COMMUNITIES_BASE_URL}
      - MAPBOX_ACCESS_TOKEN

  html:
    image: jdkelley/simple-http-server:latest
    container_name: html
    restart: unless-stopped
    ports:
      - "8052:8000"
    volumes:
      - ./html:/serve
